* {
  margin: auto;
  padding: 1rem;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  background-color: floralwhite;
}
h1 {
  color: black;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* table table-dark {
  width: 100%;
  margin: auto;
  padding: 1rem;
}  */
/* button {
  margin: 2rem;
  padding-top: 2rem;
} */

/* .form-control {
  height: 20%;
  padding-bottom: 1rem;
} */
/* .table-container {

} */
.form-container {
  width: 80%;
  margin: auto;
  padding: auto;
  box-sizing: 1px solid black;
}
text {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}
